/* @settings

name: 📦 Ning
id: ning-editor

settings:

  - id: colorscheme-setting
    title: Color Scheme
    type: heading
    level: 2
    collapsed: true

  - id: ning-theme-light
    title: Light Theme
    description: 选择你喜欢的亮色主题
    type: class-select
    allowEmpty: false
    default: theme-love-light
    options:
      - label: Love
        value: theme-love-light
      - label: Flexoki
        value: theme-flexoki-light
      - label: Ember
        value: theme-ember-light

  - id: ning-theme-dark
    title: Dark Theme
    description: 选择你喜欢的暗色主题
    type: class-select
    allowEmpty: false
    default: theme-love-dark
    options:
      - label: Love
        value: theme-love-dark
      - label: Flexoki
        value: theme-flexoki-dark
      - label: Ember
        value: theme-ember-dark

  - id: workspace
    title: Workspace
    type: heading
    level: 2

  - id: layout-style
    title: Layout Style
    description: Select the workspace layout style.
    type: class-select
    default: layout-frame
    options:
      - label: Frame
        value: layout-frame

  - id: heading
    title: Heading
    type: heading
    level: 2

  - id: heading-style
    title: Heading Indicator
    description: Display heading level indicators.
    type: class-select
    default: heading-indicator-auto
    options:
      - label: Disable
        value: heading-indicator-disable
      - label: Auto Hide
        value: heading-indicator-auto
      - label: Fixed
        value: heading-indicator-fixed

  - id: file-explorer
    title: File Explorer
    type: heading
    level: 2
    collapsed: true

  - id: alt-folder-icons
    title: 启用文件夹图标
    description: Use folders as collapse indicators instead of chevrons.
    type: class-toggle

  - id: colorful-folders_text
    title: 彩色文件夹文字颜色
    description: Adds colors to the name text of the folder. When hovered, folder background is colored.
    type: class-toggle

  - id: colorful-folders_collapse-indicator
    title: 文件夹折叠指示器启用彩色
    description: Adds color to the collapse indicators of the folders.
    type: class-toggle

  - id: folders_background
    title: 彩色文件夹背景颜色
    type: class-select
    allowEmpty: false
    default: none
    options:
      - label: None
        value: none
      - label: Default
        value: colorful-folders_background
      - label: Subtle
        value: colorful-folders-subtle
      - label: Length
        value: colorful-folders-length

  - id: colorful-folders_indentation-guide
    title: 文件夹缩进线启用颜色
    description: Colors folder's indentation guide based on parent folder's color.
    type: class-toggle

  - id: colorful-folders_inherit-color
    title: 上下级文件夹颜色继承
    description: The color cycles through up to 12 colors for both top level folders and subfolders by default. If you would like subfolders to be colored based on their top level folder colors, toggle this on.
    type: class-toggle

*/
