.theme-dark.theme-vscode-dark {
  color-scheme: dark;

  --accent-h: 15;
  --accent-s: 32%;
  --accent-l: 66%;

  --mono-rgb-0: 26, 23, 20;
  --mono-rgb-100: 204, 198, 189;


  // --color-base-00: hsl(24, 10%, 10%);
  // --color-base-05: hsl(12, 6%, 15%);
  // --color-base-10: hsl(12, 6%, 15%);
  // --color-base-20: hsl(12, 6%, 15%);
  // --color-base-25: hsl(30, 6%, 25%);
  // --color-base-30: hsl(30, 6%, 25%);
  // --color-base-35: hsl(33, 5%, 32%);
  // --color-base-40: hsl(17, 9%, 45%);
  // --color-base-50: hsl(17, 9%, 45%);
  // --color-base-60: hsl(17, 9%, 45%);
  // --color-base-70: hsl(16, 8%, 64%);
  // --color-base-100: hsl(15, 9%, 83%);

  --background-primary: #1e1e1e;
  // --background-primary-alt: #221e1a;
  // --background-secondary: #2a2520;
  // --background-secondary-alt: #2a2520;

  --text-normal: #cccccc;
  // --text-muted: #b8b4b1;
  // --text-faint: #6b6158;
  // --text-on-accent: #1a1714;

  --bold-color: #c59b8d;



  --color-gray: #c7c9cb;
  --color-red: #ff4335;
  --color-orange: #d9ad53;
  --color-yellow: #d9ad53;
  --color-green: #568441;
  --color-cyan: #44ffff;
  --color-blue: #268add;
  --color-purple: #d24aff;
  --color-pink: #ff65d3;

  // --color-gray: #dcddde;
  // --color-red: #ff695e;
  // --color-orange: #d7ba7d;
  // --color-yellow: #cbcb41;
  // --color-green: #6a9955;
  // --color-cyan: #6dffff;
  // --color-blue: #569cd6;
  // --color-purple: #dc73ff;
  // --color-pink: #ff8edf;
  --color-gray-rgb: 166, 150, 142;
  --color-red-rgb: 219, 142, 136;
  --color-orange-rgb: 222, 174, 160;
  --color-yellow-rgb: 224, 188, 126;
  --color-green-rgb: 174, 189, 159;
  --color-cyan-rgb: 141, 174, 179;
  --color-blue-rgb: 155, 176, 189;
  --color-purple-rgb: 201, 177, 185;
  --color-pink-rgb: 220, 156, 163;

  --link-color: var(--color-blue);
  --link-color-hover: var(--color-blue);
  --link-external-color: var(--color-blue);
  --link-external-color-hover: var(--color-blue);

  --h1-color: var(--color-orange);
  --h2-color: var(--color-orange);
  --h3-color: var(--color-orange);
  --h4-color: var(--color-orange);
  --h5-color: var(--color-orange);
  --h6-color: var(--color-orange);
}
