/*******************************
             Page
*******************************/

html,
body {
  height: 100%;
}

html {
  font-size: 14px;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  min-width: 320px;
  background: #1E1E1E;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 14px;
  line-height: 1.4285em;
  color: #CCCCCC;
  font-smoothing: antialiased;
}

/*-------------------
        Links
--------------------*/

a {
  color: #0E639C;
  text-decoration: none;
}

a:hover {
  color: #0E639C;
  text-decoration: none;
}

/*******************************
         Scrollbars
*******************************/

/*******************************
          Highlighting
*******************************/

/* Site */

::-webkit-selection {
  background-color: #331d00;
  color: #CCCCCC;
}

::selection {
  background-color: #331d00;
  color: #CCCCCC;
}

/* Form */

textarea::-webkit-selection,
input::-webkit-selection {
  background-color: #9b9b9b;
  color: #CCCCCC;
}

textarea::selection,
input::selection {
  background-color: #9b9b9b;
  color: #CCCCCC;
}

/*******************************
        Global Overrides
*******************************/

/*******************************
         Site Overrides
*******************************/

:root {
  /*******************************
           Site Settings
  *******************************/
  /*-------------------
         Fonts
   --------------------*/
  --font-name: 'Lato';
  --font-smoothing: antialiased;
  --header-font: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --page-font: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --google-font-name: 'Lato';
  --import-google-fonts: false;
  --google-font-sizes: '400,700,400italic,700italic';
  --google-subset: 'latin';
  --google-protocol: 'https://';
  --google-font-request: 'Lato:400,700,400italic,700italic&subset=latin';
  /*-------------------
      Brand Colors
   --------------------*/
  --primary-color: #0E639C;
  --secondary-color: #000000;
  --light-primary-color: #569CD6;
  --light-secondary-color: #545454;
  /*--------------
     Form Input
   ---------------*/
  /* This adjusts the default form input across all elements */
  --input-background: #333333;
  --input-vertical-padding: 0.78571429em;
  --input-horizontal-padding: 1em;
  --input-padding: 0.78571429em 1em;
  /* Input Text Color */
  --input-color: #CCCCCC;
  --input-placeholder-color: #666666;
  --input-placeholder-focus-color: #666666;
  /* Line Height Default For Inputs in Browser */
  --input-line-height: 1.21428571em;
  /*-------------------
      Focused Input
   --------------------*/
  /* Used on inputs, textarea etc */
  --focused-form-border-color: #569CD6;
  /* Used on dropdowns, other larger blocks */
  --focused-form-muted-border-color: #569CD6;
  /*-------------------
          Page
   --------------------*/
  --page-background: #1E1E1E;
  --page-overflow-x: hidden;
  --line-height: 1.4285em;
  --text-color: #CCCCCC;
  /*-------------------
        Paragraph
   --------------------*/
  --paragraph-margin: 0em 0em 1em;
  --paragraph-line-height: 1.4285em;
  /*-------------------
         Links
   --------------------*/
  --link-color: #0E639C;
  --link-underline: none;
  --link-hover-color: #0E639C;
  --link-hover-underline: none;
  /*-------------------
    Highlighted Text
   --------------------*/
  --highlight-background: #331d00;
  --highlight-color: #CCCCCC;
  --input-highlight-background: #9b9b9b;
  --input-highlight-color: #CCCCCC;
  /*-------------------
         Loader
   --------------------*/
  --loader-size: 1.28571429em;
  --loader-speed: 0.6s;
  --loader-line-width: 0.2em;
  --loader-fill-color: rgba(0, 0, 0, 0.1);
  --loader-line-color: #767676;
  --inverted-loader-fill-color: rgba(255, 255, 255, 0.15);
  --inverted-loader-line-color: #1E1E1E;
  /*-------------------
        Site Colors
   --------------------*/
  /*---  Colors  ---*/
  --red: #F45385;
  --orange: #CE9178;
  --yellow: #CBCB41;
  --olive: #B5CC18;
  --green: #0DB374;
  --teal: #00B5AD;
  --blue: #0E639C;
  --violet: #6435C9;
  --purple: #A333C8;
  --pink: #C586C0;
  --brown: #A5673F;
  --grey: #767676;
  --black: #000000;
  /*---  Light Colors  ---*/
  --light-red: #FF695E;
  --light-orange: #D7BA7D;
  --light-yellow: #D7BA7D;
  --light-olive: #D9E778;
  --light-green: #6A9955;
  --light-teal: #6DFFFF;
  --light-blue: #569CD6;
  --light-violet: #A291FB;
  --light-purple: #DC73FF;
  --light-pink: #FF8EDF;
  --light-brown: #D67C1C;
  --light-grey: #DCDDDE;
  --light-black: #545454;
  /*---   Neutrals  ---*/
  --full-black: #000000;
  --off-white: #333333;
  --dark-white: #333333;
  --mid-white: #252526;
  --white: #1E1E1E;
  /*--- Colored Backgrounds ---*/
  --red-background: #FFE8E6;
  --orange-background: #FFEDDE;
  --yellow-background: #FFF8DB;
  --olive-background: #FBFDEF;
  --green-background: #E5F9E7;
  --teal-background: #E1F7F7;
  --blue-background: #DFF0FF;
  --violet-background: #EAE7FF;
  --purple-background: #F6E7FF;
  --pink-background: #FFE3FB;
  --brown-background: #F1E2D3;
  /*--- Colored Headers ---*/
  --red-header-color: #f23b74;
  --olive-header-color: #7aa61a;
  --green-header-color: #1aa62a;
  --yellow-header-color: #9c6f04;
  --blue-header-color: #0c5485;
  --teal-header-color: #0e8c8c;
  --pink-header-color: #bd75b7;
  --violet-header-color: #5a30b5;
  --purple-header-color: #922eb4;
  --orange-header-color: #c78265;
  --brown-header-color: #935b38;
  /*--- Colored Text ---*/
  --red-text-color: #F45385;
  --orange-text-color: #CE9178;
  --yellow-text-color: #B58105;
  --olive-text-color: #8ABC1E;
  --green-text-color: #1EBC30;
  --teal-text-color: #10A3A3;
  --blue-text-color: #0E639C;
  --violet-text-color: #6435C9;
  --purple-text-color: #A333C8;
  --pink-text-color: #C586C0;
  --brown-text-color: #A5673F;
  /*--- Colored Border ---*/
  --red-border-color: #F45385;
  --orange-border-color: #CE9178;
  --yellow-border-color: #B58105;
  --olive-border-color: #8ABC1E;
  --green-border-color: #1EBC30;
  --teal-border-color: #10A3A3;
  --blue-border-color: #0E639C;
  --violet-border-color: #6435C9;
  --purple-border-color: #A333C8;
  --pink-border-color: #C586C0;
  --brown-border-color: #A5673F;
  /*-------------------
       Alpha Colors
   --------------------*/
  --subtle-transparent-black: rgba(255, 255, 255, 0.03);
  --transparent-black: rgba(255, 255, 255, 0.05);
  --strong-transparent-black: rgba(255, 255, 255, 0.1);
  --very-strong-transparent-black: rgba(255, 255, 255, 0.15);
  --subtle-transparent-white: rgba(0, 0, 0, 0.02);
  --transparent-white: rgba(0, 0, 0, 0.08);
  --strong-transparent-white: rgba(0, 0, 0, 0.15);
  /*-------------------
         Accents
   --------------------*/
  /* Differentiating Neutrals */
  --subtle-gradient: linear-gradient(transparent, rgba(255, 255, 255, 0.05));
  /* Differentiating Layers */
  --subtle-shadow: 0px 1px 2px 0 transparent;
  --floating-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12),
    0px 2px 10px 0px rgba(34, 36, 38, 0.15);
  /*******************************
             Power-User
  *******************************/
  /*-------------------
      Emotive Colors
   --------------------*/
  /* Positive */
  --positive-color: #0DB374;
  --positive-background-color: #FCFFF5;
  --positive-border-color: #A3C293;
  --positive-header-color: #1A531B;
  --positive-text-color: #2C662D;
  /* Negative */
  --negative-color: #F45385;
  --negative-background-color: #FFF6F6;
  --negative-border-color: #E0B4B4;
  --negative-header-color: #912D2B;
  --negative-text-color: #9F3A38;
  /* Info */
  --info-color: #31CCEC;
  --info-background-color: #F8FFFF;
  --info-border-color: #A9D5DE;
  --info-header-color: #0E566C;
  --info-text-color: #276F86;
  /* Warning */
  --warning-color: #F2C037;
  --warning-border-color: #C9BA9B;
  --warning-background-color: #FFFAF3;
  --warning-header-color: #794B02;
  --warning-text-color: #573A08;
  /*-------------------
         Icons
   --------------------*/
  /* Maximum Glyph Width of Icon */
  --icon-width: 1.18em;
  /*-------------------
       Neutral Text
   --------------------*/
  --dark-text-color: rgba(255, 255, 255, 0.95);
  --muted-text-color: rgba(255, 255, 255, 0.6);
  --light-text-color: rgba(255, 255, 255, 0.5);
  --unselected-text-color: rgba(255, 255, 255, 0.4);
  --hovered-text-color: rgba(255, 255, 255, 0.8);
  --pressed-text-color: rgba(255, 255, 255, 0.9);
  --selected-text-color: rgba(255, 255, 255, 0.95);
  --inverted-text-color: rgba(0, 0, 0, 0.9);
  --inverted-muted-text-color: rgba(0, 0, 0, 0.8);
  --inverted-light-text-color: rgba(0, 0, 0, 0.7);
  --inverted-unselected-text-color: rgba(0, 0, 0, 0.5);
  --inverted-hovered-text-color: #000000;
  --inverted-pressed-text-color: #000000;
  --inverted-selected-text-color: #000000;
  /*-------------------
       Brand Colors
   --------------------*/
  --facebook-color: #3B5998;
  --twitter-color: #55ACEE;
  --google-plus-color: #DD4B39;
  --linked-in-color: #1F88BE;
  --youtube-color: #FF0000;
  --instagram-color: #49769C;
  --pinterest-color: #BD081C;
  --vk-color: #4D7198;
  /*-------------------
        Borders
   --------------------*/
  --circular-radius: 500rem;
  --border-color: transparent;
  --strong-border-color: rgba(24, 26, 28, 0.22);
  --internal-border-color: rgba(24, 26, 28, 0.1);
  --selected-border-color: rgba(24, 26, 28, 0.35);
  --strong-selected-border-color: rgba(24, 26, 28, 0.5);
  --disabled-border-color: rgba(24, 26, 28, 0.5);
  --solid-internal-border-color: #333333;
  --solid-border-color: #0E639C;
  --solid-selected-border-color: #569CD6;
  --white-border-color: rgba(0, 0, 0, 0.1);
  --selected-white-border-color: rgba(0, 0, 0, 0.8);
  --solid-white-border-color: #34393D;
  --selected-solid-white-border-color: #4D5B66;
  --success-background-color: #FCFFF5;
  --success-color: #0DB374;
  --success-border-color: #A3C293;
  --success-header-color: #1A531B;
  --success-text-color: #2C662D;
  --error-background-color: #FFF6F6;
  --error-color: #F45385;
  --error-border-color: #E0B4B4;
  --error-header-color: #912D2B;
  --error-text-color: #9F3A38;
  --disabled-text-color: rgba(255, 255, 255, 0.2);
  --inverted-disabled-text-color: rgba(0, 0, 0, 0.2);
  /*-------------------
          Hover
   --------------------*/
  /*---  Shadows  ---*/
  --floating-shadow-hover: 0px 2px 4px 0px rgba(34, 36, 38, 0.15),
    0px 2px 10px 0px rgba(34, 36, 38, 0.25);
  /*---  Colors  ---*/
  --primary-color-hover: #0a92ec;
  --secondary-color-hover: #0d0d0d;
  --red-hover: #fc3271;
  --orange-hover: #cc8060;
  --yellow-hover: #c5c52d;
  --olive-hover: #a7bd0d;
  --green-hover: #04a266;
  --teal-hover: #009c95;
  --blue-hover: #06558b;
  --violet-hover: #5829bb;
  --purple-hover: #9627ba;
  --pink-hover: #c071ba;
  --brown-hover: #975b33;
  --light-red-hover: #ff5144;
  --light-orange-hover: #d6b164;
  --light-yellow-hover: #d6b164;
  --light-olive-hover: #d8ea5c;
  --light-green-hover: #5d8c49;
  --light-teal-hover: #54ffff;
  --light-blue-hover: #3a91d8;
  --light-violet-hover: #8a73ff;
  --light-purple-hover: #d65aff;
  --light-pink-hover: #ff74d8;
  --light-brown-hover: #c86f11;
  --light-grey-hover: #cfd0d2;
  --light-black-hover: #000000;
  /*---  Emotive  ---*/
  --positive-color-hover: #04a266;
  --negative-color-hover: #fc3271;
  /*---  Brand   ---*/
  --facebook-hover-color: #304d8a;
  --twitter-hover-color: #35a2f4;
  --google-plus-hover-color: #e0321c;
  --linked-in-hover-color: #147baf;
  --youtube-hover-color: #e60000;
  --instagram-hover-color: #3d698e;
  --pinterest-hover-color: #ac0013;
  --vk-hover-color: #41648a;
  /*---  Dark Tones  ---*/
  --full-black-hover: #0d0d0d;
  --black-hover: #0d0d0d;
  --grey-hover: #838383;
  /*---  Light Tones  ---*/
  --white-hover: #111111;
  --off-white-hover: #898989;
  --dark-white-hover: #262626;
  /*-------------------
          Focus
   --------------------*/
  /*---  Colors  ---*/
  --primary-color-focus: #1490e2;
  --secondary-color-focus: #141414;
  --red-focus: #ff1f65;
  --orange-focus: #ce7450;
  --yellow-focus: #bfbf24;
  --olive-focus: #a0b605;
  --green-focus: #00975e;
  --teal-focus: #008c86;
  --blue-focus: #004d81;
  --violet-focus: #4f20b5;
  --purple-focus: #8f1eb4;
  --pink-focus: #c063b8;
  --brown-focus: #90532b;
  --light-red-focus: #ff4335;
  --light-orange-focus: #d9ad53;
  --light-yellow-focus: #d9ad53;
  --light-olive-focus: #daef47;
  --light-green-focus: #568441;
  --light-teal-focus: #44ffff;
  --light-blue-focus: #268add;
  --light-violet-focus: #7d64ff;
  --light-purple-focus: #d24aff;
  --light-pink-focus: #ff65d3;
  --light-brown-focus: #c16808;
  --light-grey-focus: #c7c9cb;
  --light-black-focus: #000000;
  /*---  Emotive  ---*/
  --positive-color-focus: #00975e;
  --negative-color-focus: #ff1f65;
  /*---  Brand   ---*/
  --facebook-focus-color: #284582;
  --twitter-focus-color: #1d9cfd;
  --google-plus-focus-color: #db2812;
  --linked-in-focus-color: #0c73a8;
  --youtube-focus-color: #d60000;
  --instagram-focus-color: #356287;
  --pinterest-focus-color: #9c0011;
  --vk-focus-color: #395d83;
  /*---  Dark Tones  ---*/
  --full-black-focus: #141414;
  --black-focus: #141414;
  --grey-focus: #8a8a8a;
  /*---  Light Tones  ---*/
  --white-focus: #0a0a0a;
  --off-white-focus: #828282;
  --dark-white-focus: #1f1f1f;
  /*-------------------
      Down (:active)
   --------------------*/
  /*---  Colors  ---*/
  --primary-color-down: #0a456d;
  --secondary-color-down: #1a1a1a;
  --red-down: #f12363;
  --orange-down: #c07353;
  --yellow-down: #aaaa2f;
  --olive-down: #8d9e13;
  --green-down: #0a8355;
  --teal-down: #00827c;
  --blue-down: #0a456d;
  --violet-down: #502aa1;
  --purple-down: #82299f;
  --pink-down: #b464ae;
  --brown-down: #805031;
  --light-red-down: #ff392b;
  --light-orange-down: #cba556;
  --light-yellow-down: #cba556;
  --light-olive-down: #cddf4d;
  --light-green-down: #537843;
  --light-teal-down: #3affff;
  --light-blue-down: #3184c8;
  --light-violet-down: #7860f9;
  --light-purple-down: #cf40ff;
  --light-pink-down: #ff5bd1;
  --light-brown-down: #a96216;
  --light-grey-down: #c2c4c5;
  --light-black-down: #000000;
  /*---  Emotive  ---*/
  --positive-color-down: #0a8355;
  --negative-color-down: #f12363;
  /*---  Brand   ---*/
  --facebook-down-color: #2d4373;
  --twitter-down-color: #2795e9;
  --google-plus-down-color: #c23321;
  --linked-in-down-color: #186992;
  --youtube-down-color: #cc0000;
  --instagram-down-color: #395c79;
  --pinterest-down-color: #8c0615;
  --vk-down-color: #3c5876;
  /*---  Dark Tones  ---*/
  --full-black-down: #1a1a1a;
  --black-down: #1a1a1a;
  --grey-down: #909090;
  /*---  Light Tones  ---*/
  --white-down: #040404;
  --off-white-down: #7d7d7d;
  --dark-white-down: #1a1a1a;
  /*-------------------
          Active
   --------------------*/
  /*---  Colors  ---*/
  --primary-color-active: #03568e;
  --secondary-color-active: #0d0d0d;
  --red-active: #ff2f6f;
  --orange-active: #cf7f5e;
  --yellow-active: #c9c92a;
  --olive-active: #aac109;
  --green-active: #00a667;
  --teal-active: #009c95;
  --blue-active: #03568e;
  --violet-active: #5626bf;
  --purple-active: #9724be;
  --pink-active: #c26fbc;
  --brown-active: #995a31;
  --light-red-active: #ff5144;
  --light-orange-active: #d9b262;
  --light-yellow-active: #d9b262;
  --light-olive-active: #daed59;
  --light-green-active: #5d8d47;
  --light-teal-active: #54ffff;
  --light-blue-active: #3791dc;
  --light-violet-active: #8a73ff;
  --light-purple-active: #d65aff;
  --light-pink-active: #ff74d8;
  --light-brown-active: #cc6f0d;
  --light-grey-active: #cfd0d2;
  --light-black-active: #000000;
  /*---  Emotive  ---*/
  --positive-color-active: #00a667;
  --negative-color-active: #ff2f6f;
  /*---  Brand   ---*/
  --facebook-active-color: #2e4c8c;
  --twitter-active-color: #31a2f9;
  --google-plus-active-color: #e52e18;
  --linked-in-active-color: #117cb3;
  --youtube-active-color: #e60000;
  --instagram-active-color: #3b6990;
  --pinterest-active-color: #ac0013;
  --vk-active-color: #3f648c;
  /*---  Dark Tones  ---*/
  --full-black-active: #000000;
  --black-active: #000000;
  --grey-active: #696969;
  /*---  Light Tones  ---*/
  --white-active: #111111;
  --off-white-active: #898989;
  --dark-white-active: #262626;
  /*-------------------
        Side Bar
  --------------------*/
  --sidebar-background: #333333;
  --sidebar-menu-item-active-background: rgba(0, 0, 0, 0.2);
  --sidebar-menu-section-color: rgba(255, 255, 255, 0.5);
  --sidebar-menu-item-color: #CCCCCC;
  --sidebar-menu-action-color: rgba(255, 255, 255, 0.5);
  --sidebar-menu-action-hover-color: #0E639C;
  --sidebar-sync-status-view-background: #26292C;
  --sidebar-sync-status-view-text-color: #CCCCCC;
  --sidebar-sync-status-view-detail-color: rgba(255, 255, 255, 0.5);
  --sidebar-scrollbar-width: 8px;
  --sidebar-scrollbar-track-background: rgba(0, 0, 0, 0.02);
  --sidebar-scrollbar-thumb-background: rgba(255, 255, 255, 0.1);
  /*-------------------
        Scroll Bar
  --------------------*/
  --scrollbar-width: 6px;
  --scrollbar-track-background: rgba(0, 0, 0, 0.02);
  --scrollbar-thumb-background: rgba(255, 255, 255, 0.1);
  /*-------------------
        Note List Bar
  --------------------*/
  --note-list-bar-background: #252526;
  --note-list-bar-pinned-section-header-background: rgba(255, 255, 255, 0.05);
  --note-list-bar-pinned-section-header-border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  --note-list-bar-pinned-section-footer-border-bottom: 4px solid rgba(255, 255, 255, 0.2);
  --note-list-view-item-color: rgba(255, 255, 255, 0.6);
  --note-list-view-item-separator-border: 1px solid #1E1E1E;
  --note-list-view-item-date-color: rgba(191, 191, 191, 0.6);
  --note-list-view-item-tag-color: #0E639C;
  --note-list-view-item-active-background: #0E639C;
  --note-list-view-item-active-color: #D7BA7D;
  --note-list-view-item-active-date-color: #CCCCCC;
  --note-list-view-item-active-tag-color: #CCCCCC;
  --note-list-view-item-focus-inner-shadow: none;
  --note-search-bar-background: #252526;
  --note-search-bar-border-bottom: 1px solid #1E1E1E;
  --note-search-bar-input-border: none;
  --note-search-bar-input-background: #333333;
  /*-------------------
        Header Note Menu
  --------------------*/
  --header-note-menu-background: transparent;
  --header-note-menu-color: rgba(255, 255, 255, 0.5);
  --header-note-menu-action-item-active-background: rgba(49, 204, 236, 0.3);
  --header-note-menu-action-item-active-border: 1px solid rgba(49, 204, 236, 0.8);
  --header-note-menu-action-item-separator-border: 1px solid #040404;
  --header-note-menu-encrypt-button-color: #B58105;
  --header-note-menu-encrypt-button-background: #FFF8DB;
  /*-------------------
        Preferences
  --------------------*/
  --preferences-sidebar-background: #333333;
  --preferences-sidebar-item-active-background: #252526;
  --preferences-view-background: #1E1E1E;
  /*-------------------
        Task Icons
  --------------------*/
  --task-icon-active: #969696;
  --task-icon-onhold: #D7BA7D;
  --task-icon-completed: #6A9955;
  --task-icon-dropped: #CE9178;
  /*-------------------
    Task Progress View
  --------------------*/
  --task-progress-view-background-color: rgba(0, 0, 0, 0.3);
  --task-progress-view-foreground-color: rgba(255, 255, 255, 0.6);
  --task-progress-view-completed-color: #6A9955;
}



/*******************************
            States
*******************************/

/*--------------
      Hover
---------------*/

.ui.button:hover {
  background-color: #1490e2;
  background-image: none;
  box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px transparent inset;
  color: rgba(255, 255, 255, 0.8);
}

.ui.button:hover .icon {
  opacity: 0.85;
}

/*--------------
      Focus
---------------*/

.ui.button:focus {
  background-color: #1490e2;
  color: rgba(255, 255, 255, 0.8);
  background-image: '' !important;
  box-shadow: '' !important;
}

.ui.button:focus .icon {
  opacity: 0.85;
}

/*--------------
      Down
---------------*/

.ui.button:active,
.ui.active.button:active {
  background-color: #BABBBC;
  background-image: '';
  color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 0px 1px transparent inset, none;
}

/*--------------
     Active
---------------*/

.ui.active.button {
  background-color: #C0C1C2;
  background-image: none;
  box-shadow: 0px 0px 0px 1px transparent inset;
  color: rgba(255, 255, 255, 0.95);
}

.ui.active.button:hover {
  background-color: #C0C1C2;
  background-image: none;
  color: rgba(255, 255, 255, 0.95);
}

.ui.active.button:active {
  background-color: #C0C1C2;
  background-image: none;
}


/*-------------------
       Inverted
--------------------*/

.ui.inverted.button {
  box-shadow: 0px 0px 0px 2px #1E1E1E inset !important;
  background: transparent none;
  color: #1E1E1E;
  text-shadow: none !important;
}

/* Group */

.ui.inverted.buttons .button {
  margin: 0px 0px 0px -2px;
}

.ui.inverted.buttons .button:first-child {
  margin-left: 0em;
}

.ui.inverted.vertical.buttons .button {
  margin: 0px 0px -2px 0px;
}

.ui.inverted.vertical.buttons .button:first-child {
  margin-top: 0em;
}

/* States */

/* Hover */

.ui.inverted.button:hover {
  background: #1E1E1E;
  box-shadow: 0px 0px 0px 2px #1E1E1E inset !important;
  color: rgba(255, 255, 255, 0.8);
}

/* Active / Focus */

.ui.inverted.button:focus,
.ui.inverted.button.active {
  background: #1E1E1E;
  box-shadow: 0px 0px 0px 2px #1E1E1E inset !important;
  color: rgba(255, 255, 255, 0.8);
}

/* Active Focus */

.ui.inverted.button.active:focus {
  background: #252526;
  box-shadow: 0px 0px 0px 2px #252526 inset !important;
  color: rgba(255, 255, 255, 0.8);
}


/*-------------------
       Social
--------------------*/

/* Facebook */

.ui.facebook.button {
  background-color: #3B5998;
  color: #1E1E1E;
  text-shadow: none;
  background-image: none;
  box-shadow: 0px 0em 0px 0px transparent inset;
}

.ui.facebook.button:hover {
  background-color: #304d8a;
  color: #1E1E1E;
  text-shadow: none;
}

.ui.facebook.button:active {
  background-color: #2d4373;
  color: #1E1E1E;
  text-shadow: none;
}

/* Twitter */

.ui.twitter.button {
  background-color: #55ACEE;
  color: #1E1E1E;
  text-shadow: none;
  background-image: none;
  box-shadow: 0px 0em 0px 0px transparent inset;
}

.ui.twitter.button:hover {
  background-color: #35a2f4;
  color: #1E1E1E;
  text-shadow: none;
}

.ui.twitter.button:active {
  background-color: #2795e9;
  color: #1E1E1E;
  text-shadow: none;
}

/* Google Plus */

.ui.google.plus.button {
  background-color: #DD4B39;
  color: #1E1E1E;
  text-shadow: none;
  background-image: none;
  box-shadow: 0px 0em 0px 0px transparent inset;
}

.ui.google.plus.button:hover {
  background-color: #e0321c;
  color: #1E1E1E;
  text-shadow: none;
}

.ui.google.plus.button:active {
  background-color: #c23321;
  color: #1E1E1E;
  text-shadow: none;
}

/* Linked In */

.ui.linkedin.button {
  background-color: #1F88BE;
  color: #1E1E1E;
  text-shadow: none;
}

.ui.linkedin.button:hover {
  background-color: #147baf;
  color: #1E1E1E;
  text-shadow: none;
}

.ui.linkedin.button:active {
  background-color: #186992;
  color: #1E1E1E;
  text-shadow: none;
}

/* YouTube */

.ui.youtube.button {
  background-color: #FF0000;
  color: #1E1E1E;
  text-shadow: none;
  background-image: none;
  box-shadow: 0px 0em 0px 0px transparent inset;
}

.ui.youtube.button:hover {
  background-color: #e60000;
  color: #1E1E1E;
  text-shadow: none;
}

.ui.youtube.button:active {
  background-color: #cc0000;
  color: #1E1E1E;
  text-shadow: none;
}

/* Instagram */

.ui.instagram.button {
  background-color: #49769C;
  color: #1E1E1E;
  text-shadow: none;
  background-image: none;
  box-shadow: 0px 0em 0px 0px transparent inset;
}

.ui.instagram.button:hover {
  background-color: #3d698e;
  color: #1E1E1E;
  text-shadow: none;
}

.ui.instagram.button:active {
  background-color: #395c79;
  color: #1E1E1E;
  text-shadow: none;
}

/* Pinterest */

.ui.pinterest.button {
  background-color: #BD081C;
  color: #1E1E1E;
  text-shadow: none;
  background-image: none;
  box-shadow: 0px 0em 0px 0px transparent inset;
}

.ui.pinterest.button:hover {
  background-color: #ac0013;
  color: #1E1E1E;
  text-shadow: none;
}

.ui.pinterest.button:active {
  background-color: #8c0615;
  color: #1E1E1E;
  text-shadow: none;
}

/* VK */

.ui.vk.button {
  background-color: #4D7198;
  color: #1E1E1E;
  background-image: none;
  box-shadow: 0px 0em 0px 0px transparent inset;
}

.ui.vk.button:hover {
  background-color: #41648a;
  color: #1E1E1E;
}

.ui.vk.button:active {
  background-color: #3c5876;
  color: #1E1E1E;
}

/*-------------------
        Basic
--------------------*/

.ui.basic.buttons .button,
.ui.basic.button {
  background: transparent none !important;
  color: #DDDDDD !important;
  font-weight: normal;
  border-radius: none;
  text-transform: none;
  text-shadow: none !important;
  box-shadow: 0px 0px 0px 1px transparent inset;
}

.ui.basic.buttons {
  box-shadow: none;
  border: 1px solid transparent;
  border-radius: none;
}

.ui.basic.buttons .button {
  border-radius: 0em;
}

.ui.basic.buttons .button:hover,
.ui.basic.button:hover {
  background: #1E1E1E !important;
  color: rgba(255, 255, 255, 0.8) !important;
  box-shadow: 0px 0px 0px 1px rgba(24, 26, 28, 0.35) inset, 0px 0px 0px 0px transparent inset;
}

.ui.basic.buttons .button:focus,
.ui.basic.button:focus {
  background: #1E1E1E !important;
  color: rgba(255, 255, 255, 0.8) !important;
  box-shadow: 0px 0px 0px 1px rgba(24, 26, 28, 0.35) inset, 0px 0px 0px 0px transparent inset;
}

.ui.basic.buttons .button:active,
.ui.basic.button:active {
  background: #969696 !important;
  color: rgba(255, 255, 255, 0.9) !important;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15) inset, 0px 1px 4px 0px transparent inset;
}

.ui.basic.buttons .active.button,
.ui.basic.active.button {
  background: rgba(255, 255, 255, 0.05) !important;
  box-shadow: '' !important;
  color: rgba(255, 255, 255, 0.95) !important;
}

.ui.basic.buttons .active.button:hover,
.ui.basic.active.button:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

/* Vertical */

.ui.basic.buttons .button:hover {
  box-shadow: 0px 0px 0px 1px rgba(24, 26, 28, 0.35) inset, 0px 0px 0px 0px transparent inset inset;
}

.ui.basic.buttons .button:active {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15) inset, 0px 1px 4px 0px transparent inset inset;
}

.ui.basic.buttons .active.button {
  box-shadow: '' !important;
}

/* Standard Basic Inverted */

.ui.basic.inverted.buttons .button,
.ui.basic.inverted.button {
  background-color: transparent !important;
  color: #969696 !important;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
}

.ui.basic.inverted.buttons .button:hover,
.ui.basic.inverted.button:hover {
  color: #1E1E1E !important;
  box-shadow: 0px 0px 0px 2px #ffffff inset !important;
}

.ui.basic.inverted.buttons .button:focus,
.ui.basic.inverted.button:focus {
  color: #1E1E1E !important;
  box-shadow: 0px 0px 0px 2px #ffffff inset !important;
}

.ui.basic.inverted.buttons .button:active,
.ui.basic.inverted.button:active {
  background-color: rgba(0, 0, 0, 0.08) !important;
  color: #1E1E1E !important;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.9) inset !important;
}

.ui.basic.inverted.buttons .active.button,
.ui.basic.inverted.active.button {
  background-color: rgba(0, 0, 0, 0.08);
  color: #1E1E1E;
  text-shadow: none;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.7) inset;
}

.ui.basic.inverted.buttons .active.button:hover,
.ui.basic.inverted.active.button:hover {
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 0px 2px #ffffff inset !important;
}

/* Basic Group */

.ui.basic.buttons .button {
  border-left: 1px solid transparent;
  box-shadow: none;
}

.ui.basic.vertical.buttons .button {
  border-left: none;
}

.ui.basic.vertical.buttons .button {
  border-left-width: 0px;
  border-top: 1px solid transparent;
}

.ui.basic.vertical.buttons .button:first-child {
  border-top-width: 0px;
}

/*--------------
  Labeled Icon
---------------*/

.ui.labeled.icon.buttons .button,
.ui.labeled.icon.button {
  position: relative;
  padding-left: 4.07142857em !important;
  padding-right: 1.5em !important;
}

/* Left Labeled */

.ui.labeled.icon.buttons>.button>.icon,
.ui.labeled.icon.button>.icon {
  position: absolute;
  height: 100%;
  line-height: 1;
  border-radius: 0px;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  text-align: center;
  margin: 0em;
  width: 2.57142857em;
  background-color: rgba(0, 0, 0, 0.05);
  color: '';
  box-shadow: -1px 0px 0px 0px transparent inset;
}

/* Left Labeled */

.ui.labeled.icon.buttons>.button>.icon,
.ui.labeled.icon.button>.icon {
  top: 0em;
  left: 0em;
}
